<header class="header">Angular blog project for scully</header>
<div class="container">
  <div class="navigation">
    <button mat-flat-button color="primary" type="button" routerLink="/tech">
      Tech blog
    </button>
    <button
      mat-flat-button
      color="primary"
      type="button"
      routerLink="/business"
    >
      Business blog
    </button>
    <button
      mat-flat-button
      color="primary"
      type="button"
      routerLink="/entertainment"
    >
      Entertainment blog
    </button>
    <button mat-flat-button color="primary" type="button" routerLink="/science">
      Science blog
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
